/*----------  variables
------------------------------------------------------------------------------*/

// Sprites
$icons: sprite-map("icons/*.png", $layout: smart);

// Colors
$white: #fff;
$black: #000;
$text: #9e9e9e;

$orange: #f67d34;
$orange-dark: #f1592a;
$orange-darker: #d33400;

$grey: #666;
$grey-light: #c0c0c0;
$grey-lighter: #ececec;
$grey-dark: #979696;
$grey-darker: #323232;
$gray-middle: #BDBDBD;

$positive-light: #f6f9e6;
$positive-dark: #e5ecbd;
$negative-light: #f9e6e6;
$negative-dark: #ecbdbd;